.searchBox {
  border-radius: 4px;
  border: Mixed solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.4);
  
  box-shadow:

    0px 4px 4px 0px rgba(255, 255, 255, 0.16) inset,

    0px 0px 16px 0px rgba(255, 255, 255, 0.05) inset;
  ;
}

.searchBox::placeholder {
  width: 137px;
  height: 22px;
  margin: 0 46px 0 0;
  font-family: AktivGrotesk, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #757575;
}