.user-card {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.25s ease;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
}

/* Dim background when hovering */
.user-card:hover {
    background: rgba(212, 209, 209, 0.55);
    backdrop-filter: blur(2px);
    transform: translateY(-4px);
}

.card-center-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    z-index: 20;
}

.user-card:hover .card-center-actions {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.user-card:hover .user-avatar,
.user-card:hover .user-info {
    opacity: 0.2;
}

.user-name {
    margin: 10px 0 10px 0;
    font-size: large;
    font-weight: 500;
}

.user-email {
    font-size: 18px;
    color: #959090;
}

/* Circular action icons */
.action-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(175, 175, 234);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
}


.edit-btn {
    color: #ffffff;
}

.delete-btn {
    color: #ffffff;
    background-color: red;
}

.ant-tabs-nav::before {
    border-bottom: none !important;
}

.tab-content-container {
    padding: 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}